body {
margin: 0px;
padding: 0;
background-color: ##CDC0B0;
}
#TOPO {
text-align: center;           
margin: 50px 10px 50px 10px;    
padding:  10px;  				
border-width:10px;				
font-family: arial;			
font-size:30px;					
background-color:  white;		
color: black;				
}
#BARRALATERAL {
position: absolute; 
top: 300px;
left: -30px;
width: 15%;
height: 350px;
margin: 50px;
line-height: 2;
font-family: arial;
font-size: 2em;
border: 3px solid;
}
#CONTEUDO {
overflow: scroll;
position: absolute;
right: 20px;
top: 350px;
width: 80%;
height: 350px;
color: black;
background-color: white ;
font-family: arial;
font-size: 1.2em;
border: 3px solid;
}
p {
    margin: 10px;
    padding: 5px;
    line-height: 2;
}

a {color: black;}